.body__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}


.box {
    background: #4467E3;
    border-radius: 0 0 80px 80px;
    z-index: 0;
    height: 50vh;
}


.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.text {
    color: #ffffff;
    font-size: 34px;
    line-height: 35px;
    font-weight: 800;
}

.subtext {
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
}

.accent {
    font-size: 32px;
    font-weight: 800;
}

.box__welcome-wrapper {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 22px;
    gap: 30px;
}

.welcome__title{
    position: relative;
    top: 5px;
}

.welcome__img {
    max-width: 100%;
    margin-top: 80px;
}

.welcome__footer {
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 25px;
    font-weight: 800;
    text-align: center;
}